*~
#*#
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
.deps
*/*.deps
dialer/jpilot-dial
docs/*.1
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
jpilot
jpilot-dump
jpilot-merge
jpilot.spec
jpilot-sync
*/*.la
*/*.libs
libtool
*/*.lo
ltmain.sh
Makefile
*/Makefile
*/Makefile.in
Makefile.in
missing
*.o
po/*.gmo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/stamp-it
SlackBuild
stamp-h1
po/*.po
m4/*
@*
compile
core
gh-gg-jpilot.config
gh-gg-jpilot.creator
gh-gg-jpilot.creator.user
gh-gg-jpilot.creator.user.013f6e1
gh-gg-jpilot.files
gh-gg-jpilot.includes
GPATH
GRTAGS
GSYMS
GTAGS
tags
ts.*
ts.autogen
ts.debug
ts.make
ts.make-install
typescript
